# APP
APP_NAME=Template Backend
APP_HOST=0.0.0.0
APP_PORT=3000
APP_ENV=development

# DATABASE
DATABASE_HOST=localhost
DATABASE_NAME=template_backend
DATABASE_USER=postgres
DATABASE_PASSWORD=12345678
DATABASE_PORT=5432
DATABASE_SYNCHRONIZE=false
DATABASE_LOGGING=true

# JWT
JWT_SECRET=bad79af1-bc51-45f2-8ce0-1dafadbb18ee
JWT_EXPIRES_IN=24h
JWT_ISSUER=template-backend
